* {
    font-family: 'Source Sans Pro', sans-serif;
}

canvas {
    border: 1px solid gainsboro;
}

.props {
    margin: 5px 0 10px;
}

.props>.prop {
    padding-right: 25px;
}

.controls {
    margin: 15px 0;
}

.ctrl-group {
    display: inline-block;
}

.ctrl-group:not(:first-child) {
    padding-left: 25px;
}

.btns {
    display: inline;
    margin-right: 10px;
}

.btns>.btn {
    display: inline-block;
    min-width: 15px;
    height: 20px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    text-align: center;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 18px;
}

#wow {
    opacity: 0;
    position: absolute;
    top: 190px;
    width: 650px;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color: rgba(0,0,0,0.2);
}